:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  gap: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 500px;
}

.flex {
  display: flex;
  align-items: center;
}

ul,
ol {
  display: flex;
  list-style: none;
  gap: 15px;
}

.itmes-center {
  align-items: center;
}

.gap-10 {
  gap: 40px;
}

.button:hover {
  opacity: 0.7;
}
.button {
  background-color: #ff7e1b;
  color: #fff;
  margin: 2px 0 0 0;
}

.btn-2:hover {
  opacity: 0.6;
}
.btn-2 {
  color: #ff7e1b;
}

.h4 {
  color: #ff7e1b;
  background-color: #ffeee2;
  border-radius: 5px;
  padding: 4px;
  margin: 4px 0;
}

.p-p {
  padding: 0 0 30px 0;
  height: 10px;
  width: 10px;
}

.text {
  margin: 0 0 15px 0;
  text-decoration: line-through;
  opacity: 0.5;
}
h3 {
  margin: 0;
}

li {
  opacity: 0.5;
}
li:hover {
  opacity: 1;
}
a:hover {
  color: #000;
}
a {
  color: #000;
  list-style: none;
}

.img1 {
  width: 500px;
  border-radius: 5px;
  cursor: pointer;
}

.img1Thumbnail {
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  opacity: 0.5;
}

.imgThumbnail:hover {
  opacity: 0.7;
}
.imgThumbnail {
  cursor: pointer;
  border-radius: 5px;
  margin: 0 4px;
  width: 120px;
}

.divdiv {
  display: flex;
}

.h42 {
  color: #ff7e1b;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.jcc {
  justify-content: center;
}

.place-items {
  place-items: center;
}

.m-auto {
  margin: auto;
}

.div2 {
  padding: 5px 10px;
  border-radius: 100%;
  background-color: #fff;
}

.div2:hover {
  opacity: 0.7;
}

.auto {
  cursor: auto;
}

.p {
  margin: 0 0 0 580px;
  padding: 0;
}

.p:hover {
  padding: 0;
  color: #ff7e1b;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.div-4 {
  position: absolute;
  top: 60px;
  left: 1150px;
  box-shadow: 5px 10px 30px #888888;
  border-radius: 10px;
  padding: 10px;
}

.div-12 {
  padding: 10px 200px 10px 10px;
  border-bottom: 0.2px solid #000;
}

.div-5{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.img12{
  border-radius: 3px;
}
p{
  margin: 0;
}

.gap-2{
  gap: 10px;
}

.inline{
  display: inline-block;
  justify-content: center;
}